{
  "openapi": "3.1.0",
  "info": {
    "title": "Review Room basic agent API",
    "version": "1.0.0",
    "description": "Canonical media library. Authentication is scoped rr_v1_ bearer credentials. Upload originals and a real JPEG poster using returned signed PUT URLs within 15 minutes, without forwarding the API bearer key to storage. Original MIME must match begin request. Session lifetime is one hour. Still images use durationSec=0 and become ready without video processing; videos wait for the returned job to finish. Sync to portfolio apps is an explicit separate operation and is not implemented by this basic API."
  },
  "servers": [
    {
      "url": "https://review.v1su4.dev"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/catalog": {
      "get": {
        "operationId": "getCatalog",
        "summary": "List accessible projects and nested folders. Requires folders:write, media:read or projects:edit.",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Opaque Convex ID; resolve from catalog or create response."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects": {
      "post": {
        "operationId": "createProject",
        "summary": "Create project (projects:create).",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9._:-]{8,128}$"
            },
            "description": "Persist and reuse for retries of the same body; a different body requires a new key."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/{projectId}/folders": {
      "post": {
        "operationId": "createFolder",
        "summary": "Create root folder or subfolder (folders:write). Parent must belong to this project.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Opaque Convex ID; resolve from catalog or create response."
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9._:-]{8,128}$"
            },
            "description": "Persist and reuse for retries of the same body; a different body requires a new key."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FolderCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/{projectId}/folders/{folderId}": {
      "patch": {
        "operationId": "renameFolder",
        "summary": "Rename folder without changing files or media links (folders:write).",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Opaque Convex ID; resolve from catalog or create response."
            }
          },
          {
            "name": "folderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Opaque Convex ID; resolve from catalog or create response."
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9._:-]{8,128}$"
            },
            "description": "Persist and reuse for retries of the same body; a different body requires a new key."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FolderRename"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/uploads": {
      "post": {
        "operationId": "beginUpload",
        "summary": "Reserve canonical media upload with checksum (media:upload). No automatic date folder.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9._:-]{8,128}$"
            },
            "description": "Persist and reuse for retries of the same body; a different body requires a new key."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadBegin"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadTicket"
                }
              }
            }
          },
          "400": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/uploads/{sessionId}/complete": {
      "post": {
        "operationId": "completeUpload",
        "summary": "After both signed PUTs, verify/seal originals and JPEG preview (media:upload). Repeating completion is safe.",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Opaque Convex ID; resolve from catalog or create response."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadComplete"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/jobs/{jobId}": {
      "get": {
        "operationId": "getProcessingStatus",
        "summary": "Read job/asset processing status (media:read). Wait for ready before using media.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Opaque Convex ID; resolve from catalog or create response."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "See error message; 409 indicates conflict or incomplete upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "rr_v1_*",
        "description": "BWS REVIEW_ROOM_AGENT_API_KEY. Scope and project restrictions enforced server-side."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": false
      },
      "ProjectCreate": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "description": {
            "type": "string",
            "maxLength": 2000
          }
        },
        "required": [
          "title"
        ],
        "additionalProperties": false
      },
      "FolderCreate": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "parentFolderId": {
            "type": "string",
            "minLength": 1,
            "description": "Opaque Convex ID; resolve from catalog or create response."
          }
        },
        "required": [
          "title"
        ],
        "additionalProperties": false
      },
      "FolderRename": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          }
        },
        "required": [
          "title"
        ],
        "additionalProperties": false
      },
      "UploadBegin": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string",
            "minLength": 1,
            "description": "Opaque Convex ID; resolve from catalog or create response."
          },
          "folderId": {
            "type": "string",
            "minLength": 1,
            "description": "Opaque Convex ID; resolve from catalog or create response."
          },
          "name": {
            "type": "string",
            "maxLength": 240
          },
          "type": {
            "type": "string",
            "description": "video/* or image/jpeg, image/png, image/webp, image/avif"
          },
          "size": {
            "type": "integer",
            "minimum": 1,
            "maximum": 94371840
          },
          "sha256": {
            "type": "string",
            "pattern": "^[a-fA-F0-9]{64}$"
          }
        },
        "required": [
          "projectId",
          "name",
          "type",
          "size",
          "sha256"
        ],
        "additionalProperties": false
      },
      "UploadTicket": {
        "type": "object",
        "properties": {
          "sessionId": {
            "type": "string",
            "minLength": 1,
            "description": "Opaque Convex ID; resolve from catalog or create response."
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "posterUrl": {
            "type": "string",
            "format": "uri"
          },
          "expiresAt": {
            "type": "number"
          }
        },
        "required": [
          "sessionId",
          "url",
          "posterUrl",
          "expiresAt"
        ],
        "additionalProperties": false
      },
      "UploadComplete": {
        "type": "object",
        "properties": {
          "posterSizeBytes": {
            "type": "integer",
            "minimum": 1,
            "maximum": 5242880
          },
          "durationSec": {
            "type": "number",
            "minimum": 0,
            "maximum": 86400,
            "description": "Positive for video; zero for still images."
          },
          "width": {
            "type": "integer",
            "minimum": 1,
            "maximum": 16384
          },
          "height": {
            "type": "integer",
            "minimum": 1,
            "maximum": 16384
          }
        },
        "required": [
          "posterSizeBytes",
          "durationSec",
          "width",
          "height"
        ],
        "additionalProperties": false
      }
    }
  }
}
